 <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l5 offset-l1 s12">
        <h5 class="blue-text text-lighten-2">Built by</h5>
        <ul>
          <li><a class="blue-text text-lighten-2" href="https://joetorraca.com/">Joe Torraca</a></li>
          <li><a class="blue-text text-lighten-2" href="https://henriwatson.com/">Henri Watson</a></li>
        </ul>
      </div>
      <div class="col l3 offset-l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="light-blue-text text-lighten-2" href="#!">Link 1</a></li>
          <li><a class="light-blue-text text-lighten-2" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center light-blue-text text-lighten-2">
    © 2015 Shush.it
    </div>
  </div>
</footer>