<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <div class="mdl-logo">Shush.it</div>
    <ul class="mdl-mini-footer--link-list">
      <li><a href="/help">Help</a></li>
      <li><a href="/privacy">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>