<nav>
  <div class="nav-wrapper" style="overflow:hidden;">
    <a href="/" class="brand-logo waves-effect waves-default">Shush.it</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <form method="GET" action="/search">
          <div class="input-field waves-effect waves-default">
            <input id="search" type="search" required="true" name="q">
            <label for="search"><i class="material-icons light-blue-text text-lighten-2">search</i></label>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>