<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <h3>Shush.it</h3>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="/" class="mdl-layout__tab is-active">Home</a>
    <a href="/top" class="mdl-layout__tab">Top Filters</a>
    <a href="/about" class="mdl-layout__tab">About</a>
  </div>
</header>