<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Shush.it</title>
  <link rel="stylesheet" href="/components/material-design-lite/material.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{> navigation }} 
      <main class="mdl-layout__content">
        {{{ body }}}
        {{> footer }}
      </main>
      
    </div>
    <div class="mdl-layout__obfuscator"></div>
  
  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/components/material-design-lite/material.min.js"></script>
</body>
</html>