body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  padding:30px 0 0 0;
  flex: 1 0 auto;
}

nav ul li:hover, nav ul li.active {
  background-color:rgba(0,0,0,0) !important;
}

nav > .nav-wrapper {
  padding:0 0 0 30px;
  .brand-logo {
    padding:0 20px;
  }
}

a.btn-large.si-overwrite-br {
  border-radius:55.5px !important;
}

$animationSpeed: .15s;

a.btn-large.add-to-tweetbot {
  -o-transition:width $animationSpeed ease;
  -ms-transition:width $animationSpeed ease;
  -moz-transition:width $animationSpeed ease;
  -webkit-transition:width $animationSpeed ease;
  transition:width $animationSpeed ease;
}

a.btn-large.add-to-tweetbot.installed {
   width:200px !important;
}

a.btn-large.add-to-tweetbot:not(.no-hover):hover {
  width:200px !important;
}

#UIUserPhoto {
  width: 48px;
}

.UITweetBox {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 48px;
  margin-bottom: 20px;
  color: #03a9f4;
  display: block;
  width: 100%;
}

.UITweetBox img {
  float: left;
  width: 48px;
}

.UITweetBox .UITweetContent {
  display: block;
  margin-left: 60px;
}

.UITweetBox .UITweetContent .UITweetPoster {
  font-weight: bold;
}

.UIFilteredTweet {
  background-image: url('/images/filteredtweetstripes.png');
  opacity: 0.7;
  color: #999999;
}

.UIFilteredTweet img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.textCenter {
   text-align: center;
}

.dropdown-content {
   margin-top:100px;
}