$footerHeight: 100px;

html, body {
  height:100%;
}

.mdl-layout__container {
  position: initial !important;
  margin:0 0 0 -$footerHeight;
}

footer {
  position:initial !important;
}

.sticky-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -$footerHeight;
}

.sticky-footer-push {
  height: $footerHeight !important;
  clear: both;
  overflow: hidden;
}

.mdl-layout__header, .mdl-layout__tab-bar-button, .mdl-layout__tab-bar {
  background-color:#2E2E2E;
}

.mdl-layout__header {
  padding:20px 0 0;
  min-height: 64px;
}

.mdl-layout__header > .mdl-layout__header-row > h3  {
  margin:20px 0 20px 0;
  padding:22px 0 0;
}

.mdl-layout__header > .mdl-layout__tab-bar-container {
  margin-top: 35px;
}

.mdl-layout__content {
  padding:50px 0 0;
}

.mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
section > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section.section--center {
  max-width: 860px;
}
section.section--center {
  max-width: 860px;
}
section > .section__play-btn {
  min-height: 200px;
}
section > .section__play-btn {
  min-height: 200px;
}

section > header > .material-icons {
  font-size: 3rem;
}

.mdl-card {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

section > button {
  position: absolute !important;
  z-index: 99;
  top: 8px;
  right: 8px;
}

.mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-card > * {
  height: auto;
}

.mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}